p{
  color: white;
  font-family: 'Montserrat', sans-serif ;
  font-size: 16pt;
  letter-spacing:1px;
}
h1{
  font-size: 32pt;
}
.main-div{
	position: absolute;
	display: grid;
	width: 100%;
	grid-template-columns: 40% auto 20%;
	grid-template-rows: 100px  auto 100px;
	grid-template-areas: "top top top"
											"left main right"
											"bottom bottom bottom"
}
.left-content{
	width: 100%;
	height: 100%;
	grid-area: left;
	display: flex;
	justify-content: flex-end;
}
.content{
	grid-area: main;
	position: relative;
	background-color: #111;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-flow: row wrap;
}
.circle-cont{
	position: sticky;
	grid-area:left;
	top:80;
	margin:0;
	margin-right:20px;
}
.info__item{
  margin: 10px 0;
}
.info-cont{
	margin-bottom: 20px;
	min-height: 210px;

}
.info-cont.div.h1{
	text-align: center;
}
.text-section{
	text-align: justify;
}

.slide-button{
	position: relative;
	top: 500px;

}

.images-section{

}
.image-item{
	height: 300px;
	/*max-width: 500px;*/
}