body{
	margin: 0;
}
.content{
	background: #fff;
	height: 100%;
	width: 60%;
	margin: 85px 5% 5% 10px;
	border-radius: 10px;
	position: relative;
	border: 1px solid #000;
	float: left;
	padding: 10px;
}

.topMenu{
	width: 100%;
	background: #b1b7cb;
	height: 50px;
	z-index: 3;
	position: fixed;
}

	.topMenu ul{
		font-family: "Raleway", "Open Sans", sans-serif;
		text-align: center;
		display: block;
		height: 100%;
		margin: 0;
		padding: 0;
	}

	.topMenu li{
		padding: 10px;
		cursor: pointer;
		list-style: none;
		display: inline-block;
		min-width: 150px;
		vertical-align: middle;
		position: relative;
		height: 30px;
	}
		
		.topMenu li a{
			text-decoration: none;
			line-height: 30px;
			color: #311919;
		}
		
		.topMenu li:hover{
			background: #707585;
		}
		
	.topMenu ul .subMenu{
		position: absolute;
		display: none;
		list-style: none;
		padding: 0;
		top: 50px;
		left: 0;
	}
	.topMenu .subMenu li{
		background: #b1b7cb;
	}
	.topMenu .subMenu li:hover{
		background: #707585;
	}
	.topMenu li:hover > .subMenu{
		display: block;
	}



.leftMenu{
	font-family: "Raleway", "Open Sans", sans-serif;
	text-align: center;
	display: inline-block;
	float: left;
	padding: 0;
	border-radius: 10px;
	height: 100%;
	margin-top: 5%;
	margin-left: 3%;
	width: 15%;
}

	.leftMenu li{
		padding: 10px;
		cursor: pointer;
		list-style: none;
		border: 1px solid #000000;
		border-radius: 10px;
		margin: 5px;
	}

		.leftMenu li a{
			text-decoration: none;
		}

		.leftMenu li:hover{
			background: #b1b7cb;
		}



